.spacer {
    flex: 1 1 auto;
}

.example-full-width {
    width: 50%;
  }
  
.fileSelect{
  height:max-content;
  cursor: pointer;
  width: 40%;
}

.onlyThis{
  margin-top: 20px;
  height: auto !important;
  cursor: pointer;

}

#uploadFile {
  width: 40%;    
  z-index: 9;
  opacity: 0;
  height: 5%;
  cursor: pointer;
  position: absolute;
}
