<div>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="goToHome();" class="home-icon">
            <mat-icon>home</mat-icon>
        </button>
        <span>Course Management System</span>

        <span class="spacer"></span>
        
        <button mat-icon-button (click)="signOut();" class="logout-icon">
          <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</div>



<div class="container" align = "center">
   <br><br>

  <h1>Create Course</h1>
  <form #courseform="ngForm" class="example-form" (ngSubmit)="addCourse()">

      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Course Name</mat-label><br>
          <input type="text" matInput autocomplete="off" name = "courseName" [(ngModel)] = "courseName" required><br><br>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Course Description</mat-label><br>
        <input type="text" matInput autocomplete="off" name = "courseDescription" [(ngModel)] = "courseDescription" required><br><br>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Prerequisite</mat-label><br>
        <input type="text" matInput autocomplete="off" name = "preRequisite" [(ngModel)] = "preRequisite" required><br><br>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Skills (Separated by space) </mat-label><br>
        <input type="text" matInput autocomplete="off" name = "skillName" [(ngModel)] = "skillName" required><br><br>
      </mat-form-field>
      <br>

      <div class="fileSelect">
        <mat-toolbar class="onlyThis">
          <!-- Browse Button -->

          <!-- <button mat-flat-button color="primary" class="btn">
            Browse
          </button> -->
          <!-- <span class="spacer"></span> -->
          <!-- Fetch selected file on change -->
          <input type="file" #fileInput id="uploadFile" (change)="onFileChanged($event)" name="file" required>
          <!-- Display file name -->
          <input matInput [(ngModel)]="fileName" readonly name="name" />
          
        </mat-toolbar>
      </div>
        
      <br>
      <button type="submit" [disabled]="!courseform.valid" mat-raised-button color="primary">Add Course</button> 
  </form> 
  <br>

  </div>