<div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="goToHome();" class="home-icon">
        <mat-icon>home</mat-icon>
      </button>
      <span>Course Management System</span>
      <span class="spacer"></span>

        <button mat-icon-button (click)="goToAddCourse();" class="space">
          <mat-icon>add </mat-icon>
        </button>

        <button mat-icon-button class="space">
          <mat-icon>trending_up</mat-icon>
        </button>

        <button mat-icon-button (click)="signOut();" class="space">
          <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-card>
<div class = "graph">
    <canvas id="feedbackChart"></canvas>
</div>
</mat-card>
<br> <br>
<mat-card>
<div class = "graph">
    <canvas id="ratingChart"></canvas>
</div>
</mat-card>